@inject IOptions<AdminOptions> AdminOptions
<zone name="HeadMeta">
    <link asp-src="~/PuxOrchard.Theme.OliveCMS/favicon-olive.ico" type="image/x-icon" rel="shortcut icon" />
</zone>
<a class="ta-navbar-brand navbar-brand" href="@Url.Content("~/" + AdminOptions.Value.AdminUrlPrefix)">
    <div class="d-flex align-items-center">
        <img src="@Url.Content("~/PuxOrchard.Theme.OliveCMS/logo-olive.svg")" alt="@Site.SiteName on Olive by PUXdesign" title="Olive by PUXdesign. Built on OrchardCore" class="pe-2" />
        <span>@Site.SiteName</span>
    </div>
</a>